* {
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}

header > * {
  text-align: center;
}

h1 {
  color: white;
  font-size: 120px;
  margin: 40px auto;
}

nav > * {
  display: inline-block;
  width: 100px;
  height: 30px;
}

#gameHeader{
  color:white;
  padding: 20px 20px 20px 20px;
}

body {
  width: 1000px;
  margin: 0 auto;
  background: linear-gradient(to right, #DBE6F6, #C5796D);
  background-size: cover;
}



#playerTurn{
  margin: 5px 0px 5px 25px;
}

#timer{
  display: block;
  margin: 5px 0px 5px 25px;
}

table {
  border-collapse: separate;
  border-spacing: 10px 10px;
  margin: 0 auto;
}

td, .unhover {
  border: 5px solid #faebd7;
  text-align: center;
  background-color: aliceblue;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  min-height: 100px;
  margin: 10px 10px;
  font-size: 100px;
  color:#8b8378;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.hover {
  background-color: linen;
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  overflow: hidden;
}

.content {
  text-align: center;
}

.ad {
  width: 320px;
}

a {
  text-align: right;
  color: #C5796D;
  margin: 40px auto;
}

a:hover {
  color: aliceblue;
}

/*---------------NORMAL---------------*/
.normalTable {
  border-collapse: separate;
  border-spacing: 10px 10px;
  margin: 0 auto;
}

.normalTd, .normalHover {
  border: 1px solid black;
  text-align: center;
  background-color: linen;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  min-height: 100px;
  margin: 10px 10px;
  font-size: 120px;
  color:#8b8378;
}

.normalUnhover {
  border: 5px solid white;
  text-align: center;
  background-color: aliceblue;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  min-height: 100px;
  margin: 10px 10px;
  font-size: 120px;
  font-family: 'winter flake';
}
