* {
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}

h1 {
  text-align: left;
}

body {
  width: 1000px;
  margin: 0 auto;
}

#playerTurn{
  margin: 5px 0px 5px 25px;
}

#timer{
  display: block;
  margin: 5px 0px 5px 25px;
}

/*header > ul {
  background: #838b83;
  height: 30px;
  text-align: center;
  padding: 0px 0px;
}

header > ul > li {
  display:inline-block;
  color: white;
  width:16.666666%;
  margin: 5px 5px;
  cursor: pointer;
}*/

header > ul > li:hover {
  display:inline-block;
  color: white;
  width:16.666666%;
  background-color: grey
}

table {
  border-collapse: separate;
  border-spacing: 10px 10px;
  margin: 0 auto;
}

td {
  border: 1px solid black;
  text-align: center;
  background-color: linen;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  min-height: 100px;
  margin: 10px 10px;
  font-size: 120px;
}

/*td:hover{
  border: 1px solid black;
  text-align: center;
  background-color: plum;
  width: 216.66666px;
  height: 216.66666px;
  border-radius: 10px;
  min-height: 100px;
  margin: 10px 10px;
}*/

.hover {
  border: 1px solid black;
  text-align: center;
  background-color: plum;
  border-radius: 10px;
  min-height: 100px;
  margin: 10px 10px;
}

.unhover {
  border: 1px solid black;
  text-align: center;
  background-color: linen;
  border-radius: 10px;
  min-height: 100px;
  margin: 10px 10px;
}

.wrapper {
  /*border: 1px solid lime;*/
  margin: 0 auto;
  /*padding: 10px 10px;*/
  overflow: hidden;
}

.content {
  /*border: 1px solid blue;*/
  text-align: center;
}

/*.wrapper {
  text-align: center;
}*/

/*aside{
  border: 1px solid red;
  width: 35%;
  float: left;
  background-color: #cdb79e;
}*/

aside > * {
  padding: 10px 0 10px 20px;
  color: grey;
}

.ad {
  width: 320px;
}

a {
  text-align: right;
  color: #f4a460;
}

a:hover {
  color: red;
}

